/* Hoja de estilos principal */
*{
    

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    height: 100vh;

    text-align: center;

    
    background: linear-gradient(168deg, rgb(79, 152, 170) 0%, rgb(53, 19, 71) 100%);
    box-shadow: inset 0 0 190px rgb(9, 2, 17) , inset 0 0 90px rgb(29, 2, 21);
}
header{
    background-color: red;

    padding: 60px 10px;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: inset 0 0 60px black;
    
}