/* Hoja de estilos principal */
*{
    background-color: rgb(70, 71, 100);
    color: white;

    margin: 0;
    padding: 0;

    text-align: center;

}

body *{
    margin: 10px;
    padding: 10px;
    border: red 3px solid;
}