/* Hoja de estilos principal */
*{
    

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


body{
    height: 100vh;

    text-align: center;

    
    background: linear-gradient(168deg, rgb(84, 95, 109) 0%, rgb(21, 22, 27) 100%);
    box-shadow: inset 0 0 190px rgb(0, 0, 0) , inset 0 0 90px rgb(3, 3, 3);
}
header{
    background-color: red;

    padding: 60px 10px;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: inset 0 0 60px black;
    
    background-image: url(/IMAGES/2023-05-14_18.10.00.png);
    background-size: 100%;
    background-position: -50%;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: white;

    text-shadow: 0 5px 4px  black;
}

main{
    margin: 10px;
    padding: 10px 10px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: inset 0 0 60px black, 0 5px 5px 5px rgba(15, 19, 24, 0.555);
}
/* .container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.bubbles{
    z-index: -1000;
    
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgb(110, 162, 230);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(69, 121, 180, 0.5),
    0 0 50px rgb(40, 186, 206),
    0 0 100px rgb(126, 201, 231);

    animation: animate 15s linear infinite;
    animation-duration: calc(80s / var(--i));
}
.bubbles span:nth-child(even){
    background-color: rgb(218, 47, 132);
    
    box-shadow: 0 0 0 10px rgba(180, 69, 143, 0.5),
    0 0 50px rgb(221, 42, 87),
    0 0 100px rgb(231, 126, 175);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
} */